# VSCode
**/.vscode-test/

# Node
**/node_modules

# Unwanted file types
**/*.vsix
**/*.ac

# GitHub local actions / secrets
**/payload.json
**/*.vars
**/*.secrets
**/*.input

# Project's specifics
**/out
