# Commonly excluded files/folders
**/.git
**/.github
**/.vscode
**/.vscode-test
**/*.gitignore
**/*.vscodeignore
**/package-lock.json

# Unwanted file types
**/*.map
**/*.ts
**/*.mjs
**/*.vsix
**/*.ac
**/*.svg

# GitHub local actions / secrets
**/payload.json
**/*.vars
**/*.secrets
**/*.input

# Project-specific files to exclude
**/tsconfig.json
src/**
out/test/**
